<script setup lang="ts">
import LoginView from "./views/LoginView.vue";
import MainView from "./views/MainView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
const logisStore = useLoginStore();
onMounted(() => {
  logisStore.loadData();
});
</script>

<template>
  <LoginView v-if="!logisStore.isLogin" />
  <MainView
    v-if="logisStore.isLogin"
    @logout="logisStore.logout"
    :loginName="logisStore.loginName"
  />
</template>

<style scoped></style>
